@theme {
  /* Colors as in the main section Figma.
  Removed text names as that creates confusing syntax in components.*/

  --color-sun-header: #374151; /* a.k.a. text-header */
  --color-sun-muted: #9ea4b0; /* a.k.a. text-muted */
  --color-sun-default: #6b7280; /* a.k.a. text-body */
  --color-sun-other: #828282;
  --color-sun-sidebar-foreground: #334155;
  --color-sun-muted-foreground: #64748b;
  --color-sun-sidebar-background: #f8fafc;

  --color-sun-action-primary: #0f172a;
  --color-sun-action-secondary: #e5e8ec;
  --color-sun-action-tertiary: #1d4ed8;

  --color-sun-border-primary: #e5e7eb;
  --color-sun-border-secondary: #e2e8f0;
  --color-sun-surface-muted: #f1f5f9;
  --color-sun-surface-gray: #f9fafb;

  --color-sun-highlight-primary: #d328d6;
  --color-sun-highlight-secondary: #4092e5;
  --color-sun-error: #be123c;
  --color-sun-white-pure: #ffffff;
  --color-sun-black-pure: #000000;
  --color-sun-ada: #1d4ed8;
  --color-sun-gada: #501dd3;

  /* BEGIN / Wallet-ui: Added to get the wallet UI modal from ui-toolkit to work. */
  --color-warning: rgba(241, 148, 54, 1);
  --color-warning-300: rgba(246, 183, 120, 1);
  --color-warning-400: rgba(244, 169, 94, 1);
  --color-warning-500: rgba(241, 148, 54, 1);
  --color-warning-600: rgba(241, 148, 54, 1);
  --color-success: rgba(88, 199, 186, 1);
  --color-success-400: rgba(121, 210, 200, 1);
  --color-success-600: rgba(80, 181, 169, 1);
  --color-silent-400: rgba(132, 122, 150, 1);
  --color-silent: rgb(101, 89, 124);
}
#walletConnectModal {
  button:not([aria-label*='Wallet']):not([role='checkbox']) {
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      var(--color-sun-highlight-primary),
      var(--color-sun-highlight-secondary)
    );
  }
  button:not([aria-label*='Wallet']):not([role='checkbox']):hover {
    opacity: 0.9;
  }
  button[role='checkbox'] {
    /*Local override primary color*/
    --primary: var(--color-success);
    svg {
      color: var(--color-success);
    }
  }
}
/* END / Wallet-ui */
