/* geist-regular sans - latin */
@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Geist-Light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/Geist-LightItalic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Geist-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Geist-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Geist-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/Geist-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Geist-SemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/Geist-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Geist-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Geist-BoldItalic.woff2') format('woff2');
}

@theme {
  --font-sans: 'Geist', sans-serif;

  --font-weight-*: initial;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --text-*: initial;
  --text-heading-1: 44px;
  --leading-sun-heading-1: 55px;
  --text-heading-2: 36px;
  --leading-sun-heading-2: 47px;
  --text-heading-3: 32px;
  --leading-sun-heading-3: 39px;
  --text-24: 24px;
  --leading-sun-24: 26px;
  --text-20: 20px;
  --leading-sun-20: 26px;
  --text-18: 18px;
  --leading-sun-18: 23px;
  --text-16: 16px;
  --leading-sun-16: 20px;
  --text-14: 14px;
  --leading-sun-14: 18px;
  --text-12: 12px;
  --leading-sun-12: 16px;
  --text-10: 10px;
  --leading-sun-10: 13px;
}

@layer components {
  /* Heading 1 - 44px */
  .sun-text-h1-li { @apply font-sans text-heading-1 leading-sun-heading-1 font-light; }
  .sun-text-h1-rg { @apply font-sans text-heading-1 leading-sun-heading-1 font-regular; }
  .sun-text-h1-md { @apply font-sans text-heading-1 leading-sun-heading-1 font-medium; }
  .sun-text-h1-sb { @apply font-sans text-heading-1 leading-sun-heading-1 font-semibold; }
  .sun-text-h1-bd { @apply font-sans text-heading-1 leading-sun-heading-1 font-bold; }

  /* Heading 2 - 36px */
  .sun-text-h2-li { @apply font-sans text-heading-2 leading-sun-heading-2 font-light; }
  .sun-text-h2-rg { @apply font-sans text-heading-2 leading-sun-heading-2 font-regular; }
  .sun-text-h2-md { @apply font-sans text-heading-2 leading-sun-heading-2 font-medium; }
  .sun-text-h2-sb { @apply font-sans text-heading-2 leading-sun-heading-2 font-semibold; }
  .sun-text-h2-bd { @apply font-sans text-heading-2 leading-sun-heading-2 font-bold; }

  /* Heading 3 - 32px */
  .sun-text-h3-li { @apply font-sans text-heading-3 leading-sun-heading-3 font-light; }
  .sun-text-h3-rg { @apply font-sans text-heading-3 leading-sun-heading-3 font-regular; }
  .sun-text-h3-md { @apply font-sans text-heading-3 leading-sun-heading-3 font-medium; }
  .sun-text-h3-sb { @apply font-sans text-heading-3 leading-sun-heading-3 font-semibold; }
  .sun-text-h3-bd { @apply font-sans text-heading-3 leading-sun-heading-3 font-bold; }

  /* 24px Text */
  .sun-text-24-li { @apply font-sans text-24 leading-sun-24 font-light; }
  .sun-text-24-rg { @apply font-sans text-24 leading-sun-24 font-regular; }
  .sun-text-24-md { @apply font-sans text-24 leading-sun-24 font-medium; }
  .sun-text-24-sb { @apply font-sans text-24 leading-sun-24 font-semibold; }
  .sun-text-24-bd { @apply font-sans text-24 leading-sun-24 font-bold; }

  /* 20px Text */
  .sun-text-20-li { @apply font-sans text-20 leading-sun-20 font-light; }
  .sun-text-20-rg { @apply font-sans text-20 leading-sun-20 font-regular; }
  .sun-text-20-md { @apply font-sans text-20 leading-sun-20 font-medium; }
  .sun-text-20-sb { @apply font-sans text-20 leading-sun-20 font-semibold; }
  .sun-text-20-bd { @apply font-sans text-20 leading-sun-20 font-bold; }

  /* 18px Text */
  .sun-text-18-li { @apply font-sans text-18 leading-sun-18 font-light; }
  .sun-text-18-rg { @apply font-sans text-18 leading-sun-18 font-regular; }
  .sun-text-18-md { @apply font-sans text-18 leading-sun-18 font-medium; }
  .sun-text-18-sb { @apply font-sans text-18 leading-sun-18 font-semibold; }
  .sun-text-18-bd { @apply font-sans text-18 leading-sun-18 font-bold; }

  /* 16px Text */
  .sun-text-16-li { @apply font-sans text-16 leading-sun-16 font-light; }
  .sun-text-16-rg { @apply font-sans text-16 leading-sun-16 font-regular; }
  .sun-text-16-md { @apply font-sans text-16 leading-sun-16 font-medium; }
  .sun-text-16-sb { @apply font-sans text-16 leading-sun-16 font-semibold; }
  .sun-text-16-bd { @apply font-sans text-16 leading-sun-16 font-bold; }

  /* 14px Text */
  .sun-text-14-li { @apply font-sans text-14 leading-sun-14 font-light; }
  .sun-text-14-rg { @apply font-sans text-14 leading-sun-14 font-regular; }
  .sun-text-14-md { @apply font-sans text-14 leading-sun-14 font-medium; }
  .sun-text-14-sb { @apply font-sans text-14 leading-sun-14 font-semibold; }
  .sun-text-14-bd { @apply font-sans text-14 leading-sun-14 font-bold; }

  /* 12px Text */
  .sun-text-12-li { @apply font-sans text-12 leading-sun-12 font-light; }
  .sun-text-12-rg { @apply font-sans text-12 leading-sun-12 font-regular; }
  .sun-text-12-md { @apply font-sans text-12 leading-sun-12 font-medium; }
  .sun-text-12-sb { @apply font-sans text-12 leading-sun-12 font-semibold; }
  .sun-text-12-bd { @apply font-sans text-12 leading-sun-12 font-bold; }

  /* 10px Text */
  .sun-text-10-li { @apply font-sans text-10 leading-sun-10 font-light; }
  .sun-text-10-rg { @apply font-sans text-10 leading-sun-10 font-regular; }
  .sun-text-10-md { @apply font-sans text-10 leading-sun-10 font-medium; }
  .sun-text-10-sb { @apply font-sans text-10 leading-sun-10 font-semibold; }
  .sun-text-10-bd { @apply font-sans text-10 leading-sun-10 font-bold; }

}
