/* geist-regular sans - latin */
@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Geist-Light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/Geist-LightItalic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Geist-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Geist-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Geist-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/Geist-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Geist-SemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/Geist-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Geist-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Geist-BoldItalic.woff2') format('woff2');
}

@theme {
  --font-sans: 'Geist', sans-serif;

  --font-weight-*: initial;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --text-*: initial;
  --text-heading-1: 44px;
  --leading-sun-heading-1: 55px;
  --text-heading-2: 36px;
  --leading-sun-heading-2: 47px;
  --text-heading-3: 32px;
  --leading-sun-heading-3: 39px;
  --text-24: 24px;
  --leading-sun-24: 26px;
  --text-20: 20px;
  --leading-sun-20: 26px;
  --text-18: 18px;
  --leading-sun-18: 23px;
  --text-16: 16px;
  --leading-sun-16: 20px;
  --text-14: 14px;
  --leading-sun-14: 18px;
  --text-12: 12px;
  --leading-sun-12: 16px;
  --text-10: 10px;
  --leading-sun-10: 13px;
}

@layer components {
  /* Heading 1 - 44px */
  .sun-text-h1-li {
    @apply text-heading-1 leading-sun-heading-1 font-sans font-light;
  }
  .sun-text-h1-rg {
    @apply text-heading-1 leading-sun-heading-1 font-regular font-sans;
  }
  .sun-text-h1-md {
    @apply text-heading-1 leading-sun-heading-1 font-sans font-medium;
  }
  .sun-text-h1-sb {
    @apply text-heading-1 leading-sun-heading-1 font-sans font-semibold;
  }
  .sun-text-h1-bd {
    @apply text-heading-1 leading-sun-heading-1 font-sans font-bold;
  }

  /* Heading 2 - 36px */
  .sun-text-h2-li {
    @apply text-heading-2 leading-sun-heading-2 font-sans font-light;
  }
  .sun-text-h2-rg {
    @apply text-heading-2 leading-sun-heading-2 font-regular font-sans;
  }
  .sun-text-h2-md {
    @apply text-heading-2 leading-sun-heading-2 font-sans font-medium;
  }
  .sun-text-h2-sb {
    @apply text-heading-2 leading-sun-heading-2 font-sans font-semibold;
  }
  .sun-text-h2-bd {
    @apply text-heading-2 leading-sun-heading-2 font-sans font-bold;
  }

  /* Heading 3 - 32px */
  .sun-text-h3-li {
    @apply text-heading-3 leading-sun-heading-3 font-sans font-light;
  }
  .sun-text-h3-rg {
    @apply text-heading-3 leading-sun-heading-3 font-regular font-sans;
  }
  .sun-text-h3-md {
    @apply text-heading-3 leading-sun-heading-3 font-sans font-medium;
  }
  .sun-text-h3-sb {
    @apply text-heading-3 leading-sun-heading-3 font-sans font-semibold;
  }
  .sun-text-h3-bd {
    @apply text-heading-3 leading-sun-heading-3 font-sans font-bold;
  }

  /* 24px Text */
  .sun-text-24-li {
    @apply text-24 leading-sun-24 font-sans font-light;
  }
  .sun-text-24-rg {
    @apply text-24 leading-sun-24 font-regular font-sans;
  }
  .sun-text-24-md {
    @apply text-24 leading-sun-24 font-sans font-medium;
  }
  .sun-text-24-sb {
    @apply text-24 leading-sun-24 font-sans font-semibold;
  }
  .sun-text-24-bd {
    @apply text-24 leading-sun-24 font-sans font-bold;
  }

  /* 20px Text */
  .sun-text-20-li {
    @apply text-20 leading-sun-20 font-sans font-light;
  }
  .sun-text-20-rg {
    @apply text-20 leading-sun-20 font-regular font-sans;
  }
  .sun-text-20-md {
    @apply text-20 leading-sun-20 font-sans font-medium;
  }
  .sun-text-20-sb {
    @apply text-20 leading-sun-20 font-sans font-semibold;
  }
  .sun-text-20-bd {
    @apply text-20 leading-sun-20 font-sans font-bold;
  }

  /* 18px Text */
  .sun-text-18-li {
    @apply text-18 leading-sun-18 font-sans font-light;
  }
  .sun-text-18-rg {
    @apply text-18 leading-sun-18 font-regular font-sans;
  }
  .sun-text-18-md {
    @apply text-18 leading-sun-18 font-sans font-medium;
  }
  .sun-text-18-sb {
    @apply text-18 leading-sun-18 font-sans font-semibold;
  }
  .sun-text-18-bd {
    @apply text-18 leading-sun-18 font-sans font-bold;
  }

  /* 16px Text */
  .sun-text-16-li {
    @apply text-16 leading-sun-16 font-sans font-light;
  }
  .sun-text-16-rg {
    @apply text-16 leading-sun-16 font-regular font-sans;
  }
  .sun-text-16-md {
    @apply text-16 leading-sun-16 font-sans font-medium;
  }
  .sun-text-16-sb {
    @apply text-16 leading-sun-16 font-sans font-semibold;
  }
  .sun-text-16-bd {
    @apply text-16 leading-sun-16 font-sans font-bold;
  }

  /* 14px Text */
  .sun-text-14-li {
    @apply text-14 leading-sun-14 font-sans font-light;
  }
  .sun-text-14-rg {
    @apply text-14 leading-sun-14 font-regular font-sans;
  }
  .sun-text-14-md {
    @apply text-14 leading-sun-14 font-sans font-medium;
  }
  .sun-text-14-sb {
    @apply text-14 leading-sun-14 font-sans font-semibold;
  }
  .sun-text-14-bd {
    @apply text-14 leading-sun-14 font-sans font-bold;
  }

  /* 12px Text */
  .sun-text-12-li {
    @apply text-12 leading-sun-12 font-sans font-light;
  }
  .sun-text-12-rg {
    @apply text-12 leading-sun-12 font-regular font-sans;
  }
  .sun-text-12-md {
    @apply text-12 leading-sun-12 font-sans font-medium;
  }
  .sun-text-12-sb {
    @apply text-12 leading-sun-12 font-sans font-semibold;
  }
  .sun-text-12-bd {
    @apply text-12 leading-sun-12 font-sans font-bold;
  }

  /* 10px Text */
  .sun-text-10-li {
    @apply text-10 leading-sun-10 font-sans font-light;
  }
  .sun-text-10-rg {
    @apply text-10 leading-sun-10 font-regular font-sans;
  }
  .sun-text-10-md {
    @apply text-10 leading-sun-10 font-sans font-medium;
  }
  .sun-text-10-sb {
    @apply text-10 leading-sun-10 font-sans font-semibold;
  }
  .sun-text-10-bd {
    @apply text-10 leading-sun-10 font-sans font-bold;
  }
}
